<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="com.sap.adt.mcp.core.adtMcpTools">
      <mcpTool class="com.arc1.mcp.Arc1SapSearchTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapRepositorySearchTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapObjectInfoTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapFindDefinitionTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapListProjectsTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapSystemInfoTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapObjectTypesTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapHttpGetTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapReadSourceTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapHttpPostTool"/>
      <mcpTool class="com.arc1.mcp.Arc1SapListTransportsTool"/>
   </extension>
   <extension point="org.eclipse.ui.startup">
      <startup class="com.arc1.mcp.Arc1Startup"/>
   </extension>
</plugin>
